* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
img {
  /* max-width: 70%; */
}
.padding-0 {
  padding: 0 !important;
}
.margin-20 {
  margin-top: -20px;
}
.margin-10 {
  margin: -10px 0;
}
.main {
  height: 100vh;
  width: 100%;
  background-color: #f7f7ff;
  position: relative;
}
.top-image {
  position: absolute;
  right: 0;
  z-index: 0;
}
.bottom-image {
  position: absolute;
  bottom: 0;
  z-index: 0;
}
.heading {
  padding-top: 30px;
  text-align: center;
  top: 5%;
}
.heading h1 {
  color: #6d718d;
  font-weight: 600;
}
.heading .toggle {
  color: #b7b6c4;
  padding: 40px 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin: 0 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0.25turn, #979ded, #7276d1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card-wrap-monthly {
  display: none;
  /* display: flex; */
  width: 70%;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 0 auto;
  position: relative;
}
.card {
  height: 90%;
  background-color: white;
  width: 34%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.card h1 {
  color: #4e5161;
}
.card h1 span {
  font-size: 3vw;
  vertical-align: middle;
  padding-right: 10px;
}
.card div {
  padding: 10px 0;
  width: 85%;
  text-align: center;
  color: #6a6d7f;
  font-size: 12px;
  font-weight: 600;
}
.border-left-card {
  border-radius: 10px 0 0 10px;
}
.border-right-card {
  border-radius: 0 10px 10px 0;
}
.big-card {
  height: 100%;
  background: linear-gradient(0.25turn, #979ded, #7276d1);
  width: 32%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}
.big-card h1 {
  font-size: 6vw;
}
.big-card h1 span {
  font-size: 3vw;
  vertical-align: middle;
  padding-right: 10px;
}
.big-card div {
  padding: 10px 0;
  width: 85%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}
.bordered {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.card button {
  width: 80%;
  background: linear-gradient(0.25turn, #979ded, #7276d1);
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  margin: 10px 0;
}
.big-card button {
  width: 80%;
  background: white;
  border: none;
  padding: 10px;
  color: #7276d1;
  border-radius: 5px;
  font-weight: 600;
  margin: 0px 0 25px;
}
.card-wrap-annually {
  /* display: none; */
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 0 auto;
  position: relative;
}
.card-wrap-annually h1 {
  font-size: 5vw;
}
.card-wrap-monthly h1 {
  font-size: 5vw;
}
